body
{
  background-size: cover;
  background-position: center;
}

.heading {
    font-size: 30px;
    width: 100%;
    text-align: left;
}

.heading h1 {
    display: inline;
}

.heading button {
    float: right;
}

.heading:hover {
    background-color: rgb(253, 74, 74);
    border-width: 0px;
}