body
{
  background-size: cover;
  background-position: center;
}

.heading {
    font-size: 30px;
    width: 100%;
    text-align: left;
}

.heading h1 {
    display: inline;
}

.heading button {
    float: right;
}

.heading:hover {
    background-color: rgb(253, 74, 74); 
    border-width: 0px;
}

.footer {
    position : fixed;
    margin: 0px;
    bottom: 0;
    line-height: 3;
    background-color: yellow;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    z-index: 10;
}